[data-mantine-color-scheme="light"] .appShell {
  background: #efefef;
}

[data-mantine-color-scheme="dark"] .appShell {
  background: var(--mantine-color-black);
}

[data-mantine-color-scheme="dark"] .menuLogo {
  filter: invert(100%);
}
