@font-face {
  font-family: "sans-serif";
  src: local("sans-serif");
  font-display: swap;
}

.visually-hidden-seo-friendly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
